@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 17 29 106;
}

body::-webkit-scrollbar {
  background: #ccc;
  width: 4px;
  display: none;
}
body::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 12px;
}
